
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; 
}

/* Styles for the <li> elements to display them in a row and style them */
nav li {
    margin: 10px;
    padding: 10px 20px; 
    cursor: pointer; 
}

/* A hover effect for the list items */
nav li:hover {
    background-color: #1e1479;
    color: #fff;
    border-radius: 15px;
    border: 2px solid white; 
}
